# Analytics API URL
# Development
VITE_ANALYTICS_API=http://localhost:8000/analytics

# Production
# VITE_ANALYTICS_API=https://api.random-lab.es/analytics

# Automation API URL
# Development
VITE_AUTOMATION_API=http://localhost:8000/automation

# Production
# VITE_AUTOMATION_API=https://api.random-lab.es/automation
